.title___16akc {
	color: red;
}

.titleWrapper___1RC72 {
	background-color: var(--color-green);
}

.titleWrapper___1RC72 .title___16akc {
		color: var(--color-red);
	}

.content___3XiM_ {
	display: flex;
	flex-wrap: wrap;

	/* padding: var(--paddingTop) var(--paddingSide) 0 var(--paddingSide); */
}

.is__ResponseHeight___2uA21 {
	width: 100%;
}

@media only screen and (min-width: 730px) {
		.is__ResponseHeight___2uA21 {
			margin-bottom: var(--paddingB);
		}

		.is__ResponseHeight___2uA21 .blockWrapper___37UV2 {
			position: absolute;
			height: 100%;
		}

		.is__ResponseHeight___2uA21 .is__ResponseHeight__top___27T6X {
			position: relative;
			padding-bottom: 50%;
			width: 100%;
		}
	}

@media only screen and (min-width: 1070px) {
		.is__ResponseHeight___2uA21 {
			margin-bottom: var(--paddingBSmall);
		}
	}

.blockWrapper___37UV2 {
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

@media only screen and (min-width: 730px) {
		.blockWrapper___37UV2 {
			flex-direction: row;
		}
	}

.is__threeWrapper___2HBu3 {
	height: 680px;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

@media only screen and (min-width: 730px) {
		.is__threeWrapper___2HBu3 {
			flex-wrap: nowrap;
			height: 470px;
		}
	}

@media only screen and (min-width: 900px) {
		.is__threeWrapper___2HBu3 {
			height: 540px;
		}
	}

@media only screen and (min-width: 1070px) {
		.is__threeWrapper___2HBu3 {
			height: 720px;
		}
	}

.footer___3tEK5 {
	background-color: var(--color-white);
	height: 750px;
}

.burger___3Wp1o {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	z-index: 10;

	top: 9px;
	left: 9px;
	width: 30px;
	height: 30px;
}

	@media only screen and (min-width: 730px) {
		.burger___3Wp1o {
			display: none;
		}
	}

	.burger___3Wp1o:focus {
		outline: none;
	}

	.burger___3Wp1o div {
		display: block;
		width: 17px;
		height: 1px;
		background: #fff;
		border-radius: 0.5px;
		position: absolute;
		/* transition: top 0.3s linear, bottom 0.3s linear, transform 0.3s linear 0.2s; */
		/* transition: bottom 0.3s linear;
		transition: transform 0.3s linear 0.3s; */
		left: 7px;
		z-index: 1;
		top: 14px;
	}

	.burger___3Wp1o div:last-child {
			top: unset;
			bottom: 14px;
		}

.list___2KqkJ {
	color: var(--color-white);
	/* z-index: 9; */
	display: flex;
	flex-direction: column;
	background-color: black;
	list-style: none;
	font-size: 17px;
	height: 100vh;
	text-align: left;
	padding: 0 40px 8px;
	box-sizing: border-box;
	position: absolute;
	top: var(--header-height);
	left: 0;
	transition: transform 0.2s linear 0.1s;
	width: 100%;
}

	@media only screen and (min-width: 730px) {
		.list___2KqkJ {
			position: static;
			flex-direction: row;
			height: var(--header-height);
			top: 0;
			opacity: 1;
			padding: 0;
			justify-content: space-around;
			background-color: transparent;
		}
	}

/* .list {
	display: flex;
	overflow: hidden;
	flex-direction: row;
	margin: 0;
	padding: 0;
	height: 100%;
	list-style: none;
} */

.listItem___3BY7d {

	width: 100%;
	height: 44px;
	border-bottom: 1px solid rgb(66, 66, 69);
	line-height: 44px;
	transition: opacity 0.3s 0.3s;
	/* padding: 10px; */
}

/* position: relative;
	display: flex;
	flex-direction: row;
	align-items: flex-start; */

.listItem___3BY7d:hover {
		cursor: pointer;
	}

@media only screen and (min-width: 730px) {
		.listItem___3BY7d {
			border-bottom: none;
			width: auto;
		}
	}

.header___kV6Yu {
	text-align: center;
	transition: all 0.1s linear;
}

	@media only screen and (min-width: 730px) {
		.header___kV6Yu {
			background-color: rgba(0, 0, 0, 0.8) !important;
			border-bottom: none !important;
		}
	}

.headerHolder___DBVnI {
	height: var(--header-height);
	width: 100%;
	/* background-color: rgba(0, 0, 0, 0.8); */
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	z-index: 11;
	box-sizing: border-box;
	max-width: 1000px;
	margin: 0 auto;
}

@media only screen and (min-width: 730px) {
		.headerHolder___DBVnI, .headerHolder2___3xbEr {
			padding: 0 var(--paddingB);
		}
	}

@media only screen and (min-width: 1070px) {
		.headerHolder___DBVnI, .headerHolder2___3xbEr {
			padding: 0 var(--paddingBSmall);
		}
	}

.logo___ZAkCV {
	width: 16px;
	height: 16px;
	color: white;
	position: absolute;
	z-index: 10;
	/* position: absolute; */
}

.logo___ZAkCV:hover {
		cursor: pointer;
	}

@media only screen and (min-width: 730px) {
		.logo___ZAkCV {
			position: static;
			/* margin-right: 30px; */
		}
	}

.burgerWrapper___31Ss7 {
	width: 100%;
}

.headerHolder2___3xbEr {
	display: none;
	height: var(--header-height2);
	background-color: black;
	color: white;
}

.headerHolder2___3xbEr ul {
		display: flex;

		list-style: none;
		margin: 0;
		padding: 0;
	}

@media only screen and (min-width: 730px) {
		.headerHolder2___3xbEr {
			display: block;
		}
		.headerHolder2___3xbEr ul {
			flex-direction: row;
			align-items: center;
			height: 100%;
			font-size: 13px;
		}

		.headerHolder2___3xbEr li {
			margin-right: 20px;
		}

		.headerHolder2___3xbEr li:nth-child(4) {
			margin-right: auto;
		}

		.headerHolder2___3xbEr li:last-child {
			margin-right: 0;
		}

		.headerHolder2___3xbEr li.is__big___mROX4 {
			font-size: 18px;
			margin-right: 30px;
		}
	}

.headerHolder2___3xbEr .buttonAlt___39xUn {
		background-color: rgb(2, 106, 252);
		border-radius: 2px;
		border-width: 0px;
		border-color: rgb(0, 0, 0);
		/* font-family: Graphik; */
		font-weight: 500;
		/* font-style: normal; */
		color: rgb(255, 255, 255);
		letter-spacing: 0.2px;
		width: 78px;
		text-indent: 0px;
		height: 30px;
		box-sizing: border-box;
		padding-bottom: 2px;
	}

@media only screen and (min-width: 1020px) {
		.headerHolder2___3xbEr {
			height: 84px;
		}

		.headerHolder2___3xbEr ul {
			font-size: 17px;
		}

		.headerHolder2___3xbEr li.is__big___mROX4 {
			font-size: 20px;
		}

		.headerHolder2___3xbEr .buttonAlt___39xUn {
			width: 120px;
			height: 40px;
		}
	}

/* шапка с сайта про посуду и мебель */
/* .header {
	height: var(--header-height);
}

.list {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	height: 100%;
}

.listItem {
	align-items: flex-start;
	position: relative;
	padding: 10px;
	display: flex;
	flex-direction: row;

	& h4 {
		margin: 0;
		margin-bottom: 8px;
		padding: 0;
	}
}

.imageWrapper {
	display: inline-block;
	width: 50px;

	& .image {
		position: absolute;
		right: 0;
		top: 0;
		width: 50px;
		height: 100%;
		background-color: aqua;
	}
} */

.block___bgHom {
	position: relative;
	background-color: black;
	margin-bottom: 15px;
	height: 490px;
}

	@media only screen and (min-width: 730px) {
		.block___bgHom {
			height: 540px;
			margin-left: var(--paddingB);
			margin-right: var(--paddingB);
			margin-bottom: var(--paddingB);
			width: 100%;
			/* width: calc(50% - var(--padding) - var(--paddingB)); */
		}

		.block___bgHom:first-child {
			margin-right: 0;
		}
	}

	@media only screen and (min-width: 1070px) {
		.block___bgHom {
			margin-bottom: var(--paddingBSmall);
			margin-right: var(--paddingBSmall);
			margin-left: var(--paddingBSmall);
			width: 100%;
			height: 630px;
		}

		.block___bgHom:first-child {
			margin-right: 0;
		}
	}

	.block___bgHom.is__high___17pt- {
		height: 100vh;
	}

	.block___bgHom.is__banner___3WqDr {
		width: 100%;
		height: 75vh;
		min-height: 600px;
		margin-left: 0;
		margin-right: 0;
	}

	.block___bgHom.is__fullscreen___1TU2a {
		width: 100%;
		height: 100vh;
	}

	@media only screen and (min-width: 730px) {
			.block___bgHom.is__fullscreen___1TU2a {
				width: calc(100% - 2 * var(--paddingB));
				margin: 0 var(--paddingB) var(--paddingB) var(--paddingB);
			}
		}

	@media only screen and (min-width: 1070px) {
			.block___bgHom.is__fullscreen___1TU2a {
				margin: 0 var(--paddingBSmall) var(--paddingBSmall) var(--paddingBSmall);
				width: calc(100% - 2 * var(--paddingBSmall));
			}
		}

	@media only screen and (min-width: 730px) {
			.block___bgHom.is__difSize___1TzdB {
				height: 100%;
			}
			.block___bgHom.is__difSize___1TzdB:last-child {
				width: 64%;
			}

			.block___bgHom.is__difSize___1TzdB:first-child {
				width: 36%;
			}
		}

	@media only screen and (min-width: 730px) {
			.block___bgHom.is__difSize__reverse___2eZcR {
				height: 100%;
			}
			.block___bgHom.is__difSize__reverse___2eZcR:first-child {
				width: 64%;
			}

			.block___bgHom.is__difSize__reverse___2eZcR:last-child {
				width: 36%;
			}
		}

	.block___bgHom.is__three___3IMuE {
		height: calc((50% - 0.5 * var(--paddingBottom)));
		width: calc(50% - 1.5 * var(--paddingBottom));
		margin-right: var(--paddingBottom);
		margin-bottom: var(--paddingBottom);
	}

	.block___bgHom.is__three___3IMuE:first-child {
			margin-left: var(--paddingBottom);
		}

	.block___bgHom.is__three___3IMuE:last-child {
			width: calc(100% - 2 * var(--paddingBottom));
			margin-left: var(--paddingBottom);
			margin-bottom: 15px;
		}

	@media only screen and (min-width: 730px) {
			.block___bgHom.is__three___3IMuE,
			.block___bgHom.is__three___3IMuE:last-child {
				width: 33%;
				height: 100%;
				margin-right: var(--paddingB);
				margin-left: 0;
			}

			.block___bgHom.is__three___3IMuE:first-child {
				margin-left: var(--paddingB);
			}
		}

	@media only screen and (min-width: 1070px) {
			.block___bgHom.is__three___3IMuE,
			.block___bgHom.is__three___3IMuE:last-child {
				margin-right: var(--paddingBSmall);
				width: 33%;
				height: 100%;
			}

			.block___bgHom.is__three___3IMuE:first-child {
				margin-left: var(--paddingBSmall);
			}
		}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

body {
	/* background-color: #bfbfbf; */
	background-color: #f2f2f2;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
		Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

	--color-red: rgb(218, 68, 68);
	--color-white: #f5f5f7;
	--color-green: lightgreen;
	--header-height: 44px;
	--header-height2: 60px;
	--paddingB: 2.4%;
	--paddingBSmall: 2%;
	--paddingBottom: 15px;
}

